@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@600&display=swap');

body {
    margin: 0;
    height: 100vh;
    background-color: #1B1B1B;
}

.view {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 55px;
    background-color: #282828;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 1px 5px #000000;

}

.modal {
    color: black;
    line-height: 32px;
}

#info-gear {
    font-size: 25px;
    color:rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}


.board {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row2 {
    /* width: 100%; */
    height: 100%;
}

.row1 {
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: row;
}

.column1 {
    /* height: 100%; */
    width: 100%;
}

.column2 {
    width: 100%;
}

.container {
    all: inherit;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.container#c1 {
    padding: 10px 5px 5px 10px;
}

.container#c2 {
    padding: 10px 10px 5px 5px;

}

.container#c3 {
    padding: 5px 10px 10px 10px;

}

.canvas {
    width: 100%;
    height: 100%;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0px 1px 5px #000000;
}

.background path {
    fill: none;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    /* stroke-width: 3px; */
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #282828, 1px 0 0 #282828, 0 -1px 0 #282828, -1px 0 0 #282828;
    cursor: move;
    fill: white;
}

text {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

#canvas-title{
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    fill: white;

}

path.domain  {
    stroke: white;
}
.tick line{
    stroke:white
}